{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Editon Consortium Publishing| About Us</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<!--Stylesheets-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}"/>
	
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<script src="{% static 'js/bulma-carousel.min.js' %}"></script>
	<script src="https://kit.fontawesome.com/3d4a04bbba.js" crossorigin="anonymous"></script>
</head>

<body>
	<div>
		<!--HEADER-->
		{% include 'index/navbar.html' %}

		<!--Banner-->
		<div style='background-image: url({% static "media/about-us.jpg" %});background-size: cover;height: 50vh'>
		</div>
		<!--Main Content-->
		<section class="container has-margin-top-20">
			<p class="is-size-3 is-size-4-mobile has-text-dark" style='font-weight: 700'>About Us</p>
			<div class='is-divider'></div>
			<div class='columns is-clearfix'>
				<div class='column is-9'>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class='is-size-4'>
							EAS Publisher (East African Scholars Publisher) is an international scholar’s publisher for open access scientific journals in both print and online publishing from Kenya. Its aim is to provide scholars and researchers all over the world with rapid academic publishing and free access. EAS Publisher team is dedicated to continuously improving service provision and to maintaining high quality standards. We publish journals in all disciplines including arts, humanities, social sciences, medical sciences, business management studies, agriculture, biosciences, engineering, and linguistics among others, to meet the demands of scholars and researchers around the world.
						</p>
					</div>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>Our Mission & Vision</p>
						<div class='is-divider'></div>
						<p class='is-size-4 has-margin-top-20'>
							EAS Publisher is dedicated to advancing research, innovation and excellence for the benefit of mankind. EAS Publisher and its members inspire a global community through its publications, conferences and professional and educational activities. We ensure the recognition of scientists and researchers as they deserve the opportunity to play a significant role in the global scientific community.
						</p>
					</div>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>Our Office</p>
						<div class='is-divider'></div>
						<p class='is-size-4 has-margin-top-20'>
							CEO, EAS Publisher (East African Scholars Publisher)<br>
							Post Box 22495-20100,<br>
							Nairobi, Kenya<br><br>
							
							Email : easpublisher@gmail.com
						</p>
					</div>
				</div>
				<div class='column is-size-7'>
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</section>

		<!--FOOTER-->
		{% include 'index/footer.html' %}
	</div>
</body>
</html>