{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Editon Consortium Publishing| About Us</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<!--Stylesheets-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}"/>
	
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<script src="{% static 'js/bulma-carousel.min.js' %}"></script>
	<script src="https://kit.fontawesome.com/3d4a04bbba.js" crossorigin="anonymous"></script>
</head>

<body>
	<div>
		<!--HEADER-->
		{% include 'index/navbar.html' %}

		<!--Banner-->
		<div style='background-image: url({% static "media/about-us.jpg" %});background-size: cover;height: 50vh'>
		</div>
		<!--Main Content-->
		<section class="container has-margin-top-20">
			<div class='columns is-clearfix'>
				<div class='column is-9'>

					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class='is-size-4 has-margin-top-20'>
							“Whatever we do as and at Editon Consortium publishing, we do to the Glory of Almighty God. (1 Cor. 10:31)
						</p>
					</div>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>About Us</p>
						<div class='is-divider'></div>
						<p class='is-size-4 has-margin-top-20'>Editon Consortium Publishing is an international scholarly publisher for open access journals. EC Publishing aims at providing exemplary scholarly publishing for academics and researchers. It envisions sustainable production and dissemination of knowledge resources globally.
						</p>
					</div>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>About the Journals</p>
						<div class='is-divider'></div>
						<p class='is-size-4 has-margin-top-20'>
							Editon Consortium Publishing Journals are published online. They cover areas in humanities, arts, and social sciences; specifically, business, management, human resource, literature, communication, mass media studies, curriculum and educational studies, economics, development studies, languages, linguistics, psychology and Kiswahili. We are welcoming Journal proposals from other fields. Should you have a proposal for a Journal in your field, contact the Managing Editor.
						</p>
					</div>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>Our Mission</p>
						<div class='is-divider'></div>
						<p class='is-size-4 has-margin-top-20'>
							Editon Consortium Publishing is committed to research advancement through publishing high-quality research and availing it to the global community. More importantly, is the mandate to ensure every scholar and researcher contributes to the scientific knowledge repository.
						</p>
					</div>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>Editorial Policy</p>
						<div class='is-divider'></div>
						<p class='is-size-4 has-margin-top-20'>
							Editon consortium publishing journals policies are outlined in detail in the author guidelines. Authors are advised to follow the guidelines strictly to avoid manuscript rejection. All manuscripts are to be sent to the editor through <span class='has-text-danger'>editonltd@gmail.com</span> and copied to <span class='has-text-danger'>editoncjournals@gmail.com</span>.
						</p>
					</div>
					<div class=' is-block has-background-white has-margin-top-20 has-padding-30'>
						<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>Publication Calendar</p>
						<div class='is-divider'></div>
						<p class='is-size-4 has-margin-top-20'>
							Editon consortium journals’ articles are published online once a manuscript is through the review process. Publication on rolling basis eliminates the backlog and quickens the publication process.
						</p>
					</div>
				</div>
				<div class='column is-size-7'>
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</section>

		<!--FOOTER-->
		{% include 'index/footer.html' %}
	</div>
</body>
</html>