{% load static %}
<section class="section is-size-6-mobile has-background-dark has-text-light has-margin-top-100">
	<div class="columns is-variable has-margin-top-20">
		<div class="column">
			<p class="is-size-5">Contact us</p><br>
			<p class="is-size-7 has-text-grey">
				CEO, Editon Consortium Publishing<br>
				Nakuru, Kenya<br>
				<br><br>
			</p>
		</div>
		<div class="column">
			<div class='columns'>
				<div class='column'>
					<p class="is-size-5">Useful Links</p><br>
					<p class="is-size-7 has-text-grey">
						<a href='{% url "online_payment" %}' class='has-text-light'>Online Payments</a><br>
						<a href='{% url "about_us" %}'  class='has-text-light'>Aim and Scope</a><br>
						<a href='{% url "author_guidelines" %}' class='has-text-light'>Author Guidelines</a><br>
						<a href='{% url "processing_fees" %}' class='has-text-light'>Processing Charges</a><br>
						<a href='{% url "journals" %}' class='has-text-light'>Our Journals</a><br>
					</p>
				</div>

				<div class="column">
					<p class="is-size-5">Certificates</p><br>
					<p class="is-size-7 has-text-grey">
						<a href='{% url "publication_certificate" %}' class='has-text-light'>Publication Certificate</a><br>
						<a href='{% url "editorial_certificate" %}' class='has-text-light'>Editorial Certificate</a><br>
						<a href='{% url "reviewer_certificate" %}' class='has-text-light'>Reviewer Certificate</a><br>
					</p>
				</div>
				<div class="column">
					<p class="is-size-5">Join us</p><br>
					<p class="is-size-7 has-text-grey">
						<a href='http://www.sassociety.com/join-editor/' class='has-text-light'>Join as Editor</a><br>
						<a href='http://www.sassociety.com/join-reviewer/' class='has-text-white'>Join as Reviewer </a><br>
						<a href='http://www.sassociety.com/join-sas-society/' class='has-text-white'>Join Membership</a><br>
					</p>
				</div>
			</div>
		</div>
		<div class="column">
			<p class="is-size-5">About Us</p><br>
			<p class="is-size-7 has-text-grey">Editon Consortium Publishing is an international scholarly publisher for open access journals. EC Publishing aims at providing exemplary scholarly publishing  ... <a href="#" class="has-text-white"> Read More Here</a>
			</p>
		</div>
	</div>
	<p class='has-margin-top-50 has-margin-bottom-50 has-text-grey'>*This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License.</p>
	<div class="container has-text-centered">
		<p> &copy; 2020, All Rights Reserved | Editon Consortium Publishing Pvt. Ltd.</p>
		<p class="has-text-grey is-size-6"><a href="https://github.com/jayantamadhav" class="has-text-light" target="_blank">Developed by JM</a></p>
	</div>
</section>


<!--Start of MyLiveChat
<script type="text/javascript">
	function add_chatinline(){
		var hccid=42420099;
		var nt=document.createElement("script");
		nt.async=true;
		nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;
		var ct=document.getElementsByTagName("script")[0];
		ct.parentNode.insertBefore(nt,ct);
	}
	add_chatinline(); 
</script>
End of MyLiveChat-->
