{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Editon Consortium Publishing | Online Payment</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<!--Stylesheets-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}"/>
	
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<script src="{% static 'js/bulma-carousel.min.js' %}"></script>
	<script src="https://kit.fontawesome.com/3d4a04bbba.js" crossorigin="anonymous"></script>
</head>
<body>
	{% include 'index/navbar.html' %}
	<!--Banner-->
	<div style='background-image: url({% static "media/pay-online.jpg" %});background-size: cover;height: 50vh'>
	</div>
	<div class='container has-padding-bottom-40 has-padding-top-40'>
		<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>Paypal</p>
		<div class='is-divider'></div>
		<div class='columns'>
			<div class='column has-padding-10'>
				<div class='has-background-white has-padding-10' style='height:300px'>
					<p class='has-text-centered is-size-3' style='color:#34783e'>Step 1</p>
					<br><br>
					<p class='is-size-5 has-text-centered has-padding-30'>Check Processing Fee for the Journal you want to pay for</p>
				</div>
			</div>
			<div class='column has-padding-10'>
				<div class='has-background-white has-padding-10 has-text-centered'  style='height:300px'>
					<p class='has-text-centered is-size-3' style='color:#34783e'>Step 2</p>
					<br><br>
					<div class='has-padding-30'>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style='margin:0px auto;'>
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="35EXED6V3AK9A">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
			</div>
			<div class='column has-padding-10'>
				<div class='has-background-white has-padding-10'  style='height:300px'>
					<p class='has-text-centered is-size-3' style='color:#34783e'>Step 3</p>
					<br><br>
					<p class='is-size-5 has-text-centered has-padding-30'>Request for the PayPal Invoice via email</p>
				</div>
			</div>
		</div>
		<br><br>
		<p class="is-size-3 is-size-5-mobile has-text-dark" style='font-weight: 700'>Other Payment Modes</p>
		<div class='is-divider'></div>
		<div class='has-background-white has-padding-30'>
			<p>
				<span class='strong'>Co-op Bank (Kenya)</span><br>
				<span class='strong'>A/c no</span>: 01192882094100<br>
				<span class='strong'>A/c Name</span>: Editon Consortium Ltd.<br>
				<br><br>
				<span class='strong'>Western Union</span>: Request for Details<br><br>
				<span class='strong'>MoneyGram</span>: Request for Details
			</p>
		</div>
	</div>
	{% include 'index/footer.html' %}
</body>
</html>